.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AdminNav{
   background-color: black;
   color:yellow ;
   height:6vw ; 
}

.navSet {
  display:flex ;
  list-style-type:none ;
  gap:2vw ;
  margin-left:35vw ;
  margin-right:20vw ;
  margin-top:-2.5vw ;
}

.navSetItem {
  font-size:1.45vw ;
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.navSetItemLogo 
{
   font-size:2vw ; 
   padding-top:2vw ;
   padding-left:2.5vw ;
}

.AdminDash {
  background-color:rgba(64, 64, 64, 1) ; ;
  color:white ;
  height:45vw ;
}

.contentCardSet {
  display:flex ;
  gap:5vw ;
  list-style-type:none ;
}

.dashboardImage {
  padding-top:3vw ;
  width:35vw ;
  height:35vw ;
  border-radius:95% ;
}

.adminlinking {
  color:yellow ;
  text-decoration: none;
}

.Course1 {
  background-color: rgba(64,64,64,1);
  color:white ;
  height:max-content;
}

.detailHeading {
  color:white ;
  font-size:1.20vw ;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-style:oblique ;
}

.detailParagraph {
  color:white ;
  font-size:1.10vw ;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-style:oblique ;
}

 


