footer {
    background-color: #0594e1;
    color: #fff;
    font-size: 16px;
}

footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
}

.row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: black;
    color:yellow ;
    margin-top:-2.5vw ;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 12em;
    justify-content: center;
}

.border {
    border-right: 1px solid;
}

.Footer_title {
    width: 100%;
    text-align: left;
    color: yellow;
    font-size: 1.4em;
    margin-bottom: 10px;
    white-space: nowrap;
}

.Footer_ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.Footer_ul li:not(:first-child) {
    margin-top: 0.8em;
}

.Footer_ul li a {
    color: #fff;
    text-decoration: none;
}

.Footer_about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
}

div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
}

.social i {
    color: #bac6d9;
}

.copyright {
    padding: 2rem 2rem;
    background-color: #0594e1;
    border-top: 1px solid;
    font-size: 1rem;
    border-color: rgb(121 133 210);
    line-height: 1.5rem;
}

.copyright p {
    font-size: 0.9em;
    text-align: center;
}

.logo-subtext {
    color:yellow ;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .row.primary {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .column {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 2em;
        min-height: 10em;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .Footer_title{
        text-align: center;
    }

    .border{
        border: none;
    }
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .row.primary {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .column {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 2em;
        min-height: 10em;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .Footer_title{
        text-align: center;
    }

    .border{
        border: none;
    }
}

/* For small devices */
@media screen and (max-width: 450px) {
    .row.primary {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .column {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 2em;
        min-height: 10em;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .Footer_title{
        text-align: center;
    }

    .border{
        border: none;
    }
}