/* Styles for the NewsCard component */
.newscard_container {
    padding: 10px;
    border-radius: 7px;
    width: 25vw;
    height: 35vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    background-color: #fff; /* Background color for the card */
    margin-left:5vw ;
    margin-bottom:5vw ;
    background-color: black;
    color:yellow ;
    border:solid ;
    border-color:darkgray ;
  }

  .containerPara 
  {
     color:yellow ;
     font-size:1.5vw ;
  }
  
  .newscard_img {
     /* Background color for the image container */
    width:45vw ;
    height:10vw ;
    border-radius: 7px 7px 0 0; /* Rounded corners at the top */
    overflow: hidden; /* Ensure the image doesn't overflow */
  }

  .updateImages {
    width:25vw ;
    height:10vw ;
  }
  
  .newscard_heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px; /* Add some padding to the heading */
    color:yellow ;
  }
  
  .newscard_heading h1 {
    font-size: 2vw;
    font-weight: 600; 
    font-style:oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .newscard_heading p {
    font-size: 1.5vw; /* Adjust the paragraph font size */
    color: yellow;
    font-style:oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Paragraph text color */
  }
  
  .newscard_btn {
    text-align: center; /* Center-align the button */
  }
  
  .newscard_btn span {
    display: inline-block;
    padding: 8px 16px; /* Add padding to the button */
    background-color: #0594e1; /* Button background color */
    color: #fff; /* Button text color */
    border-radius: 5px; /* Rounded button corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  .newscard_btn span:hover {
    background-color: #0460a6; /* Button background color on hover */
  }

  .updateCards {
    display:flex ;
    gap:2vw ;
    list-style-type:none ;
  }


.containerPara {
  color:yellow ;
}  